
<div class="backdrop-blur-lg bg-white/10 rounded-2xl shadow-2xl  p-10 border border-white/20">
  <form (ngSubmit)="onLogin()" class="text-white">
    <div class="mb-4">
      <label class="block mb-1 text-sm font-medium">Email</label>
      <input [(ngModel)]="email" name="email" type="email" required placeholder="Enter your email"
        class="w-full bg-transparent border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" />
    </div>

    <div class="mb-6">
      <label class="block mb-1 text-sm font-medium">Password</label>
      <input [(ngModel)]="password" name="password" type="password" required placeholder="Enter your password"
        class="w-full bg-transparent border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200" />
    </div>

    <button type="submit" (click)="onLogin()"
      class="w-full py-2 bg-gradient-to-r from-pink-600 via-purple-700 to-blue-800 text-white rounded-lg shadow-lg hover:opacity-90 transition">
      Login
    </button>

    <p class="text-center text-sm mt-4">
      Don’t have an account?
      <a routerLink="/auth/signup" class="text-pink-400 hover:underline">Sign Up</a>
    </p>

    <p *ngIf="error" class="text-red-500 text-center mt-3">{{ error }}</p>
  </form>

</div>
